<div class="row" style="padding-top: 10px">
  <div class="btn-group btn-group-toggle col-3" style="margin-left: 15px" ngbRadioGroup name="radioBasic" [(ngModel)]="aside">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1"> Filters
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false"> Alerts
    </label>
  </div>
  <input type="text" name="search-bar" class="col-4 offset-1" id="search-bar">
  <div class="btn-group btn-group-toggle col-2 offset-1" ngbRadioGroup name="radioBasic" [(ngModel)]="content">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1"> List
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false"> Map
    </label>
  </div>
</div>
