<app-paginator  *ngIf="data.totalPages > 1"[listExists]="!!data.list[1]" [total]="data.totalPages" [currPage]="data.page" [pgnArr]="paginatorArr" (onTurn)="turnPage($event)"></app-paginator>
<div *ngIf="!data.loading">
<app-list-item *ngFor="let listItem of data.list" [item]="listItem">
</app-list-item>
</div>
<app-paginator  *ngIf="!data.loading && data.totalPages > 1" [total]="data.totalPages" [listExists]="!!data.list[1]" [currPage]="data.page" [pgnArr]="paginatorArr" (onTurn)="turnPage($event)"></app-paginator>