<div class="row" style="background: #0973d7; height: 60px;">
  <a class="col-2 offset-5" href="/">
    <h2 style="color:antiquewhite;">Home to rent</h2>
  </a>
</div>
<form [formGroup]="initialForm" (submit)="onSubmit()" class="form-group row" style="padding-top: 10px">
  <div class="col-2 offset-3" style="flex-flow: row; display: flex; padding: 0">
    <label class="btn btn-primary col-6"> Buy
      <input style="display: none" type="radio" value="buy" formControlName="listingType">
    </label>
    <label class="btn btn-primary col-6"> Rent
      <input style="display: none" type="radio" value="rent" formControlName="listingType">
    </label>
  </div>
  <input type="text" formControlName="placeName" class="col-3">
  <button type="submit" class="col-1 btn btn-primary">Get list</button>
</form>
<app-list (onChanged)="selectPage($event)" [listArr]="list" [currentPage]="page"></app-list>
